.ss {
    .aa {
        color: brown;
    }

    .bb {
        background-color: aqua;
    }
    .fruit{
        color: red;
    }
    .apple{
        font-weight: 900;
    }
    .fa{
        background-color: darkgreen;
    }
    .class1{
        color: red;

    }
    .class2{
        background-color: blue;
    }
    .class2{
        margin-left: 50px;
    }
}